<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<form  method='post' action='bookmarklets/new'>
  <input type="text" class="form-control" name='bookmarklets'>
  <button type="submit" value= {{query}} name='bookmarkId' class="btn btn-default"> Add a bookmarklets </button>
</form>
<div>
  {{# each items}}
    {{# each this.bookmarklets}}
    <a class="list-group-item clearfix">
      {{this}}
    </a>
    {{/each}}
  {{/each}}
</div>
