<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<form method='post' action='bookmarklets/new'>
  <div class="form-group">
    <label for="exampleInputEmail1">Add a bookmarklet</label>
    <input type="text" class="form-control" aria-describedby="emailHelp" name='bookmarklets' placeholder="URL">
  </div>
  <button type="submit" value= {{query}} name='bookmarkId' class="btn btn-primary"> Add a bookmarklets </button>
</form>
<div>
  {{# each items}}
    {{# each this.bookmarklets}}
      <a class="list-group-item clearfix">
        {{this}}
      </a>
    {{/each}}
  {{/each}}
</div>
