<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<div class="alert alert-success">
  <strong>Hi {{{username}}} !</strong> You can view your <strong>pinboards below</strong>.
</div>
<div>
  <p class="list-group-item active">My pinboard:</p>

  {{# each items}}
  <a class="list-group-item clearfix">
      {{this.name}}
      <span class="pull-right">
        <form  method='post' action='/pinboards/bookmarklets'>
          <button type='submit' value= {{this._id}} name='bookmarkId' class="btn btn-default" aria-hidden="true"> View {{this.bookmarklets.length}} </button>
        </form>
      </span>
    </span>
  </a>
  {{/each}}
</div>
